.mycolor{
    color : #2F6FA8;
}
.myborder{
    /*padding: 20px;;
    border: 1px solid #ccc;*/
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 3px 0px #2F6FA8;
    -moz-box-shadow:    0px 0px 3px 0px #2F6FA8;
    box-shadow:         0px 0px 3px 0px #2F6FA8;
}
.mybutton{
    position: relative;
    left: 50%;
    top: 193px;

}

.margin-bottom-20 {
    margin-bottom: 20px;

}
.btn-u:hover {
    background: #428bca;
}
.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    background: #428bca;
}
.btn-u:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-u {
    background: #2F6FA8;
}
.btn-u {
    white-space: nowrap;
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #2F6FA8;
    display: inline-block;
    text-decoration: none;
}
.input-group-addon {
    border-right: 0;
    /*color: #b3b3b3;*/
    font-size: 14px;
    background: #fff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group .form-control {
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control {
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

div.help {
    color:#a94442;
    font-style:italic;
}
